<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap CSS -->
    <link href='vendor/bootstrap.css' rel='stylesheet'>

    <!-- Custom styles for this template -->
    <link href='styles.css' rel='stylesheet'>

  </head>
  <body>

    <nav class='navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse'>
      <button class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <a class='navbar-brand' href='#'>Page</a>

      <div class='collapse navbar-collapse' id='navbarCollapse'>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item active'>
            <a class='nav-link' href='#'>Home <span class='sr-only'>(current)</span></a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#'>Link 1</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#'>Link 2</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Page introduction
    ================================================== -->


    <div class='jumbotron jumbotron-fluid'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-16'>

            <h1 class='display-3'>my product slogan here</h1>
            <p class='lead'>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking</p>

            <p class='lead'>
              <a class='btn btn-primary btn-lg' href='#' role='button'>Learn more</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Features row
    ================================================== -->


    <div class='container'>

      <!-- Three columns of text below the header box -->

      <div class='row'>
        <div class='col-lg-4 text-center'>
          <img class='rounded-circle' src='images/map.jpg' alt='map with various objects' width='140' height='140'>

          <h2>Feature 1</h2>

          <p>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
            vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
            magna.
          </p>

          <p>
            <a class='btn btn-secondary' href='#' role='button'>View details &raquo;</a>
          </p>

        </div>

        <div class='col-lg-4 text-center'>
          <img class='rounded-circle' src='images/mountain.jpg' alt='mountain with blue sky' width='140' height='140'>

          <h2>Feature 2</h2>

          <p>
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
            mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh.
          </p>

          <p>
            <a class='btn btn-secondary' href='#' role='button'>View details &raquo;</a>
          </p>

        </div>

        <div class='col-lg-4 text-center'>
          <img class='rounded-circle' src='images/skyscrapers.jpg' alt='skyscraper' width='140' height='140'>

          <h2>Feature 3</h2>

          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.</p>

          <p>
            <a class='btn btn-secondary' href='#' role='button'>View details &raquo;</a>
          </p>

        </div>

      </div>


      <!-- Text paragraphs with images
      ================================================== -->


      <!-- map image with text -->

      <hr class='featurette-divider'>

      <div class='row featurette'>
        <div class='col-md-7'>
          <h2 class='featurette-heading'>
            First featurette heading. <span class='text-muted'>It'll blow your mind.</span>
          </h2>

          <p class='lead'>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
        </div>
        <div class='col-md-5'>
          <img class='featurette-image img-fluid mx-auto' src='images/map.jpg' alt='map with various objects'>
        </div>
      </div>

      <!-- mountain image with text -->


      <hr class='featurette-divider'>

      <div class='row featurette'>
        <div class='col-md-7 push-md-5'>

          <h2 class='featurette-heading'>
            Oh yeah, it's that good. <span class='text-muted'>See for yourself.</span>
          </h2>

          <p class='lead'>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.
          </p>

        </div>

        <div class='col-md-5 pull-md-7'>
          <img class='featurette-image img-fluid mx-auto' src='images/mountain.jpg' alt='mountain with blue sky'>
        </div>
      </div>

      <!-- skyscrapers with text -->

      <hr class='featurette-divider'>

      <div class='row featurette'>

        <div class='col-md-7'>
          <h2 class='featurette-heading'>
            And lastly, this one. <span class='text-muted'>Checkmate.</span>
          </h2>

          <p class='lead'>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.
          </p>
        </div>

        <div class='col-md-5'>
          <img class='featurette-image img-fluid mx-auto' src='images/skyscrapers.jpg' alt='skyscrapers'>
        </div>

      </div>

      <hr class='featurette-divider'>

      <!-- Footer
      ================================================== -->

      <div>
        <p class='float-right'><a href='#'>Back to top</a></p>
        <p>© 2017 Company, Inc. &middot; <a href='#'>Privacy</a> &middot; <a href='#'>Terms</a></p>
      </div>

    </div>

    <!-- Javascript of bootstrap to make the menu work -->

    <script src='./vendor/jquery-slim.min.js'></script>
    <script src='./vendor/bootstrap.min.js'></script>

  </body>
</html>
